<div class="panel panel-default">
  <div class="panel-body">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#example_python" aria-controls="example_python" role="tab" data-toggle="tab">Python</a></li>
    <li role="presentation"><a href="#example_twurl" aria-controls="example_twurl" role="tab" data-toggle="tab">Twurl</a></li>
  </ul>

<br>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="example_python">
    
<pre>{{examples.python}}</pre>
    
    </div>
    <div role="tabpanel" class="tab-pane" id="example_twurl">

<h5>Request</h5>
<pre>{{examples.twurl}}</pre>
    
    </div>
  </div>

  </div>
</div>