{% extends "base.html" %}

{% block content %}

<b>Tweet</b>

<br><br>

<form action="/home" method="post">{% csrf_token %}
  <input name="status" type="text">
  <input type="submit" value="Tweet">
</form>

<b>Update Profile Photo</b>

<br><br>

<form action="/home" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="Update Photo">
</form>

<b>Statuses</b>

<br>

{% if statuses and statuses.0 %}
  
  {% for s in statuses %}
  <br>
  <a href="http://twitter.com/{{s.user.screen_name}}/status/{{s.id}}" target="_target">{{s.id}}</a> {{s.text}}
  {% endfor %}
  
{% else %}

  No statuses.

{% endif %}

{% endblock %}