{% extends "base.html" %}

{% block content %}

<h2>REST API Sample Code</h2>

<p>This is a collection of Twitter API samples, covering common use cases such as:

<ul>
<li>Posting a tweet
<li>Querying tweets
<li>Uploading media
<li>Updating a profile photo
</ul>

<p>These examples also show how to execute the API calls using both 
Python (via the <a href="https://github.com/bear/python-twitter" target="_target">python-twitter</a> SDK)
and Twurl. 

<h3>python-twitter</h3>

<p>The <code>python-twitter</code> library provides a pure Python interface for the Twitter API. 
It works with Python versions from 2.6+. Python 3 support is under development. <code>python-twitter</code>
was started and maintained by <a href="http://twitter.com/codebear" target="_target">Mike Taylor</a>.</p>

<p>You can learn more about <code>python-twitter</code> by visiting the 
<a href="https://github.com/bear/python-twitter" target="_target">python-twitter Github repo</a>.



<h3>Twurl</h3>

<p>Twurl is like curl, but tailored specifically for the Twitter API.
It knows how to grant an access token to a client application for
a specified user and then sign all requests with that access token.</p>

<p>It also provides other development and debugging conveniences such
as defining aliases for common requests, as well as support for
multiple access tokens to easily switch between different client
applications and Twitter accounts.</p>

<p>You can learn more about Twurl by visiting the <a href="https://github.com/twitter/twurl" target="_target">Twurl Github repo</a>.

{% endblock %}