{% extends "base.html" %}

{% block title %}Upload media{% endblock %}

{% block content %}

<h2>Upload photo</h2>

<p>This page shows how to upload a photo file and attach it to a Tweet. The photo must first be uploaded via 
the <code>media/upload</code> endpoint, and then the resulting <code>media_id</code> can be passed into a 
<code>update/status</code> call. 
</p>
</p> 
Learn more about uploading photo on Twitter by reading the 
<a href="https://dev.twitter.com/rest/reference/post/media/upload" target="_target">POST media/upload</a> documentation.</p>  

<h3>The code</h3>

{% include "_examples.html" %}

<h3>Try it</h3>

<p></p>

<form class="form-horizontal" action="/media/photo" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="status" name="status" placeholder="Type your 140 characters here...">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">File</label>
    <div class="col-sm-10">

<!--    
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
-->
            <p>
                {{ form.file }}
                
				{% if request.method == 'POST' and not form.is_valid %}
				<div class="alert alert-danger" role="alert">
        	    	<p>{{ form.file.errors }}</p>
	            </div>
    	        {% endif %}
            </p>
            
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Upload type</label>
    <div class="col-sm-2">
		<select name="media_type" class="form-control">
  			<option value="binary">media (binary)</option>
  			<option value="base64">media_data (base64)</option>
		</select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Upload media</button>
    </div>
  </div>
  {% if response.media %}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Media upload response</label>
    <div class="col-sm-8">
      <pre>{{response.media}}</pre>
    </div>
  </div>
  {% endif %}
  {% if response.tweet %}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Tweet response</label>
    <div class="col-sm-8">
      <pre>{{response.tweet}}</pre>
    </div>
  </div>
  {% endif %}
  {% if metadata %}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Media metadata</label>
    <div class="col-sm-8">
    	<pre>{% for line in metadata %}{{line}}
{% endfor %}</pre>
    </div>
  </div>
  {% endif %}

</form>


{% endblock %}